{% extends 'layout.html' %}
{% block title %}
Vue
{% endblock %}
{% block content %}
<script setup>
    import { ref } from 'vue'
    
    const message = ref('')
    </script>
    
 
        <h1>Love nako si</h1>,
        <h2>------------------------------------------</h2>,
    
        <p>Message is: {{ message }}</p>
    <input v-model="message" placeholder="edit me" />

    <button @click="show = !show">Toggle</button>
<Transition>
  <p v-if="show">hello</p>
</Transition>

<style>
    /* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
   
{% endblock %}