{% extends 'layout.html' %}
{% block title %}
T-Test
{% endblock %}
{% block content %}


<script>
    // Function to handle error message display
    function displayErrorMessage(message) {
        var errorMessage = document.getElementById('error-message');
        errorMessage.innerHTML = message;
        errorMessage.style.display = 'block';
        setTimeout(function() {
            errorMessage.style.display = 'none';
        }, 3000); // Hide error message after 3 seconds
    }

   // JavaScript function to display error message if selected columns are equal
   function checkColumns() {
        var columnForColumns = document.getElementById('column_for_columns').value;
        var columnForRowsDiv = document.getElementById('column_for_rows_div');
        var selectedRows = columnForRowsDiv.getElementsByClassName('row-option');
        var selectedRowsValues = [];
        
        // Get selected rows values
        for (var i = 0; i < selectedRows.length; i++) {
            selectedRowsValues.push(selectedRows[i].value);
        }

        // Check if selected columns are equal
        if (selectedRowsValues.includes(columnForColumns)) {
            displayErrorMessage('Selected columns for comparison cannot be the same. Please choose different columns.');
            return false;
        }

        return true;
    }


    // Function to display error message
    function displayErrorMessage(message) {
        var errorMessage = document.getElementById('error-message');
        errorMessage.innerHTML = message;
        errorMessage.style.display = 'block';
        setTimeout(function() {
            errorMessage.style.display = 'none';
        }, 3000); // Hide error message after 3 seconds
    }
    
    // Function to handle adding a new row option
    function addRowOption() {
        var columnForRowsDiv = document.getElementById('column_for_rows_div');
        var newRowOption = document.createElement('div');
        newRowOption.className = 'row-option';
        newRowOption.innerHTML = '<label>Select Column for Rows:</label><select name="column_for_rows" class="column-for-rows">' + 
                                 '{% for col in columns %}<option value="{{ col }}">{{ col }}</option>{% endfor %}</select><br>';
        columnForRowsDiv.appendChild(newRowOption);
    }

    function updateTableHeaders() {
            // Load the crosstab configuration
            fetch('/static/crosstab_config.json')
                .then(response => response.json())
                .then(data => {
                    // Update column headers
                    const tableHeaders = document.querySelectorAll('.table-header');
                    tableHeaders.forEach(header => {
                        const variable = header.textContent.trim(); // Get the original column name
                        const columnInfo = data.columns.find(col => col.variable === variable);
                        if (columnInfo) {
                            header.textContent = columnInfo.name; // Update the header text
                        }
                    });

                    // Update row headers
                    const tableRowHeaders = document.querySelectorAll('.table-row-header');
                    tableRowHeaders.forEach(header => {
                        const variable = header.textContent.trim(); // Get the original row name
                        const rowInfo = data.rows.find(row => row.variable === variable);
                        if (rowInfo) {
                            header.textContent = rowInfo.name; // Update the header text
                        }
                    });
                });
        }

        // Call the function when the page loads
        updateTableHeaders();

        // Function to download CSV file
        function downloadCsv(filename, csvData) {
            var blob = new Blob([csvData], { type: 'text/csv;charset=utf-8;' });
            if (navigator.msSaveBlob) { // IE 10+
                navigator.msSaveBlob(blob, filename);
            } else {
                var link = document.createElement("a");
                if (link.download !== undefined) {
                    var url = URL.createObjectURL(blob);
                    link.setAttribute("href", url);
                    link.setAttribute("download", filename);
                    link.style.visibility = 'hidden';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                }
            }
        }

        function exportCsv() {
            var csvData = [];
            var tables = document.querySelectorAll("#crosstab-results table");

            tables.forEach(function(table) {
                var rows = table.querySelectorAll("tr");

                rows.forEach(function(row) {
                    var rowData = [];
                    var cells = row.querySelectorAll("th, td");

                    cells.forEach(function(cell) {
                        var text = cell.innerText.replace(/"/g, '""'); // Escape double quotes
                        text = text.replace(/\n/g, ' '); // Replace newlines with spaces
                        rowData.push('"' + text + '"'); // Enclose each cell in double quotes
                    });

                    csvData.push(rowData.join(","));
                });

                // Add an empty line after processing each table
                csvData.push("");
            });

            var csvContent = csvData.join("\n");
            var filename = "crosstab_results.csv";
            downloadCsv(filename, csvContent);
        }


</script>


<div class="container">
    <h1>Crosstabs</h1>

     <!-- Error message for column equality -->
     <div id="error-message" class="error-message"></div>

    <!-- Form for selecting columns and computation method -->
    <form action="/compute_Ttest" method="post" onsubmit="return checkColumns()">
        <label for="column_for_columns">Select Column for Columns:</label>
        <select name="column_for_columns" id="column_for_columns">
            {% for col in columns %}
            <option value="{{ col }}">{{ col }}</option>
            {% endfor %}
        </select>
        <br>

        <!-- Container for selecting multiple rows -->
        <div id="column_for_rows_div">
            <div class="row-option">
                <label>Select Column for Rows:</label>
                <select name="column_for_rows" class="column-for-rows">
                    {% for col in columns %}
                    <option value="{{ col }}">{{ col }}</option>
                    {% endfor %}
                </select>
                <br>
            </div>
        </div>

        <!-- Button to add a new row option -->
        <button class="custom-button" type="button" onclick="addRowOption()">Add Row Option</button>
        <br>

        <!-- Hidden input for computation method (fixed to Chi Square) -->
        <input type="hidden" name="computation_method" value="t_test">

        <button type="submit" class="custom-button">Compute T-test</button>
    </form>

    <!-- Display the computation result -->

 <h2>T - Test Results</h2>

 
 <div id="crosstab-results" style="overflow: scroll;">
    {% for selected_row in column_for_rows_list %}
        {% if result[selected_row] %}
            {% set column_name = column_for_columns %}
            {% set row_name = selected_row %}
            {% set column_info = crosstab_config['columns'] | selectattr('variable', 'equalto', column_for_columns) | first %}
            {% set row_info = crosstab_config['rows'] | selectattr('variable', 'equalto', selected_row) | first %}
            {% if column_info is defined %}
                {% set column_name = column_info['name'] %}
            {% endif %}
            {% if row_info is defined %}
                {% set row_name = row_info['name'] %}
            {% endif %}
            <table>
                <thead>
                    <tr>
                        {% set empty_th_count = head_cell_count - 1 %} {# excluding the column_name <th> #}
                        {% set left_empty_th_count = empty_th_count // 2 %}
                        {% set right_empty_th_count = empty_th_count - left_empty_th_count %}
                    
                        {% for _ in range(left_empty_th_count) %}
                            <th></th>
                        {% endfor %}
                        <th>{{ column_name }}</th>
                        {% for _ in range(right_empty_th_count) %}
                            <th></th>
                        {% endfor %}
                    </tr>
                                      
                    <tr>
                        <th>{{ row_name }}</th>
                        <th></th>
                        <th>All</th>
                        <th></th>
                        {% for col_header in result[selected_row]['breakdown_table_frequency'].columns %}
                            <th>{{ col_header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set frequency_rows = result[selected_row]['breakdown_table_frequency'].iterrows() %}
                    {% set selected_row_counts = result[selected_row]['selected_row_counts'] %}
                    {% set percentage_rows = result[selected_row]['breakdown_table_percentage'].iterrows() %}
                    {% set selected_row_percentage = result[selected_row]['selected_row_percentage'] %}
                    {% for i in range(result[selected_row]['breakdown_table_frequency'].shape[0]) %}
                        {% set frequency_row = frequency_rows.__next__() %}
                        {% set percentage_row = percentage_rows.__next__() %}
                        <tr class="odd">
                            <td>{{ frequency_row[0] }}</td>
                            <td>Frequency</td>
                            <td>
                                {{ selected_row_counts[frequency_row[0]] }}
                                {% if loop.last %}
                                    {{ result[selected_row]['total_selected_row_count'] }}
                                {% endif %}
                            </td>
                            <td>
                                {% if loop.last %}
                                    {{ result[selected_row]['total_selected_row_count'] }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            
                            {% for value in frequency_row[1] %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                        <tr class="even">
                            <td></td>
                            <td>Column%</td>
                            <td>
                                {% set rounded_percentage = (selected_row_percentage[percentage_row[0]]|default(0))|round(2) %}
                                {% if rounded_percentage != 0 %}
                                    {{ rounded_percentage }}%
                                {% endif %}
                                {% if loop.last %}
                                    {{ result[selected_row]['selected_row_percentage'].sum()|round(2) }}%
                                {% endif %}
                            <td>
                                {% if loop.last %}
                                    {{ result[selected_row]['selected_row_percentage'].sum()|round(2) }}%
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            </td>
                            {% for value in percentage_row[1] %}
                                {% if value is none or value != value %}
                                    <td>100.0%</td>
                                {% else %}
                                    <td>{{ value|round(2) }}%</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="{{ head_cell_count }}">
                            {% if result[selected_row] %}
                                {% set t_statistic = result[selected_row]['t_statistic'] %}
                                {% set p_value = result[selected_row]['p_value'] %}
                                {% set significance = "significant" if p_value < 0.05 else "not significant" %}
                                {% set p_sign = ">" if p_value > 0.05 else "<" %}
                                
                                The association between {{ selected_row }} and {{ column_for_columns }} is {{ significance }} based on a t-statistic of {{ '%.2f'|format(t_statistic) }} and a p-value {{ p_sign }} 0.05. 
                            {% endif %}
                        </td>
                    </tr> 
                </tbody>
            </table>
            <br>
        {% endif %}
    {% endfor %}
</div>


 <button class="custom-button" onclick="exportCsv()">Export to CSV</button>

   
</div>





    <script src="@@path/vendor/simple-datatables/dist/umd/simple-datatables.js"></script>
{% endblock %}
